<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>BookViewer2</servlet-name>
        <servlet-class>com.madlyincraft.BookViewer2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginHandler</servlet-name>
        <servlet-class>com.madlyincraft.LoginHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterHandler</servlet-name>
        <servlet-class>com.madlyincraft.RegisterHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookViewer</servlet-name>
        <servlet-class>com.madlyincraft.BookViewer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileHandler</servlet-name>
        <servlet-class>com.madlyincraft.EditProfileHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.madlyincraft.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookViewer2</servlet-name>
        <url-pattern>/BookViewer2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginHandler</servlet-name>
        <url-pattern>/LoginHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterHandler</servlet-name>
        <url-pattern>/RegisterHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookViewer</servlet-name>
        <url-pattern>/BookViewer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileHandler</servlet-name>
        <url-pattern>/EditProfileHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            c:\upload\
        </param-value>
    </context-param>
</web-app>
