/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2014, 9:52:27 PM
    Author     : acer
*/

@import url('bootstrap.css');

.menunav {
    margin-top: 20px;
}
.navbar-inverse {
    background-color: transparent;
}
.navigation {
    margin-top: 90px;
    margin-bottom: 80px;
}
.buttons {
    width: 280px;
}
.mascotw{
    position: absolute;
    z-index:-1;
    margin-top: 10px;
}
.creation {
    margin-bottom: 20px;
}
.description {
    margin-bottom: 20px;
}
.mbottom {
    margin-bottom: 20px;
}
.heading{
    padding-left: 13px;
}
.share {
    margin-right: 10px;
}
footer {
    text-align: center;
    background: #DFDEDE;
    margin-top: 60px;
    height: 90px;
    padding-top: 20px;
}
.centerpos {
    margin: auto;
    text-align: center;
}
.bttm {
    padding-top: 20px;
}
.heart {
    padding-left : 20px;
    padding-right: 20px;
}
.col-md-12 {
    text-align: center;
}
.registerform {
    margin-left: 50px;
}
.login {
    padding-left: 15px;
}
.comment {
    width: 650px;
}
.floatr {
    float: right;
}
.commentpad {
    padding-top: 15px;
}
.commentname {
    padding-left: 20px;
}
.borderline {
    border-bottom: 2px;
    border-bottom-style: dashed;
    border-bottom-color: #999999;
    margin-top: 20px;
    margin-bottom: 20px;
}
.comment {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.comment2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.usrcomment {
    border: 2px;
    border-style: solid;
    border-color: #999999;
}
.boxcolor {
    background: #999999;
}
.topleft {
    vertical-align: top;
    text-align: left;
}
.commentpad2 {
    padding-top: 10px;
    padding-left: 10px;
}
.commentpad3 {
    padding-top: 10px;
    padding-right: 10px;
}
.commentpad4 {
    padding-bottom: 10px;
    padding-left: 10px;
}
.ctr {
    text-align: center;
}
.category {
    border:2px solid #EEE;
    border-radius:5px; 
    margin:5px; 
    padding:5px; 
    height:160px;
}
.muted {
    color: #999999;
}
.nopadr {
    padding-right: 0;
}
.mbottom-10 {
    margin-bottom: 10px;
}
.mtop-50{
    margin-top: 50px;
}
.carousel-title {
    position: absolute;
    z-index: 2;
    font-weight: bold;
    color: white;
}